<div class="frame-video">
  <video id="video-back" class="video-back" playsinline="true"></video>
</div>

<div id="frame-main" class="frame-main useRegion">
  <div class="div-snapshotOuter">
    <div class="div-scanLight"></div>
  </div>

  <div class="div-bottom">
    <div id="div-highLightResult" class="div-highLightResult">
      <span>loading...</span>
    </div>
  </div>
</div>

<%= stylesheet_link_tag "dbr/foundation.min" %>
<%= stylesheet_link_tag "dbr/dbr" %>

<%= javascript_include_tag "dbr/what-input.min" %>
<%= javascript_include_tag "dbr/foundation.min" %>
<%= javascript_include_tag "dbr/dbr-6.4.1.1.min" %>
<%= javascript_include_tag "dbr/webrtc-adapter" %>

<%= javascript_include_tag "dbr/dbr" %>
