<%= render "scan/dbr/video" %>

<%= render "scan/dbr/frame_main" %>

<%= render "scan/dbr/frame_menu" %>

<div id="frame-loadingAnimation" class="cm-spinner"></div>

<div id="frame-supportAndSetting" class="frame-supportAndSetting">
  <p>Dynamsoft Barcode Reader JavaScript Edition is a JavaScript API for barcode scanning based on the WebAssembly technology. This demo supports scanning bar codes directly from a live video stream.</p>

  <%= render "scan/dbr/support_browser" %>

  <h3>Barcode Format</h3>

  <%= render "scan/dbr/barcode_format" %>
</div>

<div id="frame-white" class="frame-white"></div>

<%= stylesheet_link_tag "dbr/foundation.min" %>
<%= stylesheet_link_tag "dbr/dbr" %>

<%= javascript_include_tag "dbr/what-input.min" %>
<%= javascript_include_tag "dbr/foundation.min" %>
<%= javascript_include_tag "dbr/kConsole" %>
<%= javascript_include_tag "dbr/dbr-6.4.1.1.min" %>
<%= javascript_include_tag "dbr/webrtc-adapter" %>
<%= javascript_include_tag "dbr/ringBell" %>

<%= javascript_include_tag "dbr/dbr" %>
