<h1>Scan#dbr</h1>
<p>Find me in app/views/scan/dbr.html.erb</p>

<%= stylesheet_link_tag "https://demo.dynamsoft.com/dbr_wasm/css/foundation.min.css" %>
<%= stylesheet_link_tag "https://demo.dynamsoft.com/dbr_wasm/css/style.css" %>

<%= javascript_include_tag "https://code.jquery.com/jquery-3.3.1.min.js" %>
<%= javascript_include_tag "https://demo.dynamsoft.com/dbr_wasm/js/what-input.min.js" %>
<%= javascript_include_tag "https://demo.dynamsoft.com/dbr_wasm/js/foundation.min.js" %>
<%= javascript_include_tag "https://demo.dynamsoft.com/dbr_wasm/js/kConsole.js" %>
<%= javascript_include_tag "https://demo.dynamsoft.com/dbr_wasm/js/dbr-6.4.1.1.min.js" %>
<%= javascript_include_tag "https://demo.dynamsoft.com/dbr_wasm/js/webrtc-adapter.js" %>
<%= javascript_include_tag "https://demo.dynamsoft.com/dbr_wasm/js/script.js?v=20181212" %>
<%= javascript_include_tag "https://demo.dynamsoft.com/dbr_wasm/js/ringBell.js?v20180912" %>
